*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto';
}
 
.cont {
    min-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.header{
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.cont_header{
    background: #FF7F50;
}

.cont_ul{
    margin-left: 500px; 
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ul {
    display: flex;
    justify-content: center;
    
}

.li>a {
    color: #fff;
    margin: 0 60px 0 0;
    cursor: pointer;
    transition: 0.25s;
    font-size: 15px;
}

.li_current>a { 
    color: #FF7F50;
    margin: 0 60px 0 0;
    transition: 0.25s;
    font-size: 15px;
}

.li:hover>a { 
    color: #FF7F50;
}

.li_current:hover>a { 
    color: #fff;
}

.img_se1 {
    width: 100%;
}

.cont_se1 {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 1440px;
    min-height: 1080px;
    background: transparent url('https://all.accor.com/magazine/imagerie/1-619b.jpg') no-repeat
    center center / cover ;
    
}

.text_se1 {
    margin-top: 500px;
    max-width: 1000px;
}

h1 { 
    color: #fff;
    font-weight: 700;
    font-size: 80px;    
    
}