*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Sen';
}

.cont {
    width: 100vh;
    margin: 0 auto;
    width: 100%;
}

.header{
    position: fixed;
    width: 100vh;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.cont_header {
    background: #EDCD1F;
}

.cont_ul {
    margin-left: 350px;
    background: #1E2D3B;
    padding-top: 40px;
    padding-bottom: 50px;
}

.ul {
    margin-left: 500px;
    display: flex;
    justify-content: center;
}

.li {
    margin: 0 90px 0 0;
}

.li>a {
    font-family: 'Sen';
    font-size: 50px;
    font-weight: 700px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.li_current {
    margin: 0 90px 0 0;
}

.li_current>a {
    color: #EDCD1F;
    transition: 0.25s;
    font-size: 16px;
}

.li:hover>a {
    color: #EDCD1F;
}

.li_current:hover>a {
    color: #fff;
}

.img_se1 {
    width: 100%;
}

.cont_se1 {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 1080px;
    background: transparent url('https://all.accor.com/magazine/imagerie/1-619b.jpg') no-repeat center center / cover;

}

.text_se1 {
    margin-top: 350px;
    max-width: 1000px;
}

.text_se1 h1 {
    text-align: center;
    color: #fff;
    font-family: 'Sen';
    font-weight: 700;
    font-size: 60px;
}

.cont_se2 {
    align-items: center;
    text-align: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 850px;
    height: 115px;
}

.cont_se2 h2 {
    font-family: 'Sen';
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.05em;
}

.border_se2 {
    margin-top: 35px;
    margin-left: 364px;
    width: 120px;
    border-bottom: 10px solid #EDCD1F;
}

.cards {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 0.21fr);
}

.item:first-child {
    margin: 0 auto;
}

.item {
    margin-left: 20px;
    margin-bottom: auto;
    background: #F7F5F5;
    width: 300px;
    max-height: 672px;
}

.img_item {
    width: 300px;
}

.text_item h1 {
    padding: 25px 0 15px 25px;
    text-align: left;
    font-family: 'Sen';
    font-size: 22px;
    font-weight: 400;
    color: #3D5975;
}

.text_item p {
    text-align: left;
    padding: 25px 15px 15px 25px;
    font-family: 'Sen';
    font-size: 15px;
    font-weight: 600;
    color: #3D5975;
    line-height: 25px;
}

.se4 {
    position: relative;
}

.cont_se4 {
    height: 1000px;
    background: none;
    margin-top: 90px;
}

.video_bg {
    width: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont_video {
    padding-top: 205px;
    position: relative;
    width: 100vh;
    width: 100%;
}

.cont_video_bg {
    width: 100vh;
    width: 100%;
    background: #fff;
    height: 628px;
    display: flex;
    justify-content: space-between;
}

.text_video {   
    text-align: left;
    padding-left: 420px;
    
}

.text_video h1 {
    padding-top: 50px;
    width: 410px;
    font-family: 'Sen';
    font-size: 55px;
    font-weight: 400;
    color: #000;
}

.text_video p {
    margin-top: 50px;
    width: 434px;
    font-family: 'Sen';
    font-size: 17px;
    font-weight: 400;
    color: #000;
    line-height: 22px;
}

.border_se4 {
    margin-top: 25px;
    width: 120px;
    border-bottom: 10px solid #EDCD1F;
}

.img_video img {
    width: 100vh;
    width: 950px;
    height: 628px;
}
